.favorites {

    display: flex;
    position: relative;

    .br {
        height: 1px;
        width: 100%;
        background: #726765;
    }

    .favorites-transform {
        transform: rotate(180deg);
        transition: 0.5s;
    }

    .reg {
        color: #000;
    }

    h1 {
        font-size: 18px;
        text-transform: uppercase;
    }

    h3 {
        font-size: 18px;
        line-height: 1em;
    }

    &__under {
        text-decoration: underline;
    }

    &__more {
        margin: auto;
        display: block;
    }

    &__a {
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;

        .reccomended-card {
            width: 220px;
            margin: 10px;
            margin-bottom: 20px;
        }
    }

    &__aside {
        width: 300px;
        margin: 14px 0;
        padding-right: 26px;
        display: flex;
        flex-direction: column;

        .disabled {
            color: #ddd;
            pointer-events: none;
        }

        span {
            color: #000000;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }

        & > * {
            margin-bottom: 10px;
        }
    }

    &__main {
        width: 100%;
        position: relative;
    }
    
    &__figure_form_wrapper {
        margin-left: 40px;
        margin-top: 20px;
        display: inline-block;
        vertical-align: top;
        position: relative;

    }

    &__figure_wrapper {
        margin-left: 40px;
        display: inline-block;
        vertical-align: top;    
        position: relative;

        .profile-figure_man {
            display: inline-block;
            margin-top: 64px;
            background: url(img/man_figure.png) center center no-repeat;
            width: 104px;
            height: 360px;
            position: absolute;
        }

        .popup-toolip {
            position: absolute!important;
            left: 180px;
        }

        .popup-body-link {
            &::before  {
                position: absolute!important;
                transform: translate(-50%,-50%);
                content: ' ';
                display: inline-block;
                height: 3px;
                background-color: #186c64;
            }
        }
        .popup-body-link-head {
            &::before  {
                left: -127px;
                top: 56px;
                width: 34px;
            }
        }

        .popup-body-link-boobs {
            &::before  {
                left: -127px;
                top: 42px;
                width: 54px;
            }
        }

        .popup-body-link-waist {
            &::before  {
                left: -127px;
                top: 33px;
                width: 50px;
            }
        }

        .popup-body-link-ass {
            &::before  {
                left: -127px;
                top: 33px;
                width: 64px;
            }
        }

        .popup-label {
            position: absolute!important;
            padding: 15px;
            width: 300px;
            border-radius: 2px;
            background: #fff;
            border: 1px solid #b6b6b6;
            
            &::after, &::before {
                right: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &::after {
                border-right-color: #fff;
                border-width: 7px;
                margin-top: -7px;
            }

            &::before {
                border-right-color: #b6b6b6;
                border-width: 8px;
                margin-top: -8px;
            }
        }
    }
}


.favorites-menu {
    position: absolute;
    width: 100%;
    top: 0;
    display: none;

    &__head {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f2f2f2;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        border-bottom: 1px solid #d3d3d3;

        .icon {
            width: 14px;
            margin-left: 5px;
            transition: 0.5s;
        }
    }
}

@media(max-width: 750px) {
    .favorites h1 {
        text-align: center;
        margin-top: 30px;
    }

    .favorites-menu {
        display: flex;
        flex-direction: column;
        z-index: 1000;
    }

    .favorites__cards {
        justify-content: center;

        .reccomended-card {
            width: 42%;
        }
    }

    .favorites__aside {
        display: none;
    }

    .favorites__main {
        margin-top: 30px;
    }

    .favorites-menu__user {
        padding: 20px;
        background: #f2f2f2;
        text-align: center;

        .favorites-menu__name {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.18px;
            margin-bottom: 20px;
        }

        .favorites-menu__ordinar {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .favorites-menu__items {
        padding: 20px;
        padding-top: 0;
        background: #fff;
    }

    .favorites-menu__item {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        color: #999999;
        padding: 15px;
        border-bottom: 1px solid #d2d2d2;

        i {
            margin-right: 15px;
        }
    }

}
